*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    background: #f4f7fb;
}

header{
    background: #1e90ff;
    padding: 15px;
    color: white;
}

nav a{
    color: white;
    margin-right: 12px;
    text-decoration: none;
    font-weight: bold;
}

.container{
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
button{
    padding: 10px;
    background: #1e90ff;
    color: white;
    border: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}
input{
    padding: 10px;
    width: 100%;
    margin: 6px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
}
